@{
	var totalMessage int
	var u *User
}
<html>
<body>
@if totalMessage > 0 {
	@if totalMessage == 1 {
		<p>@User.Name has 1 message</p>
	} else {
		<p>@User.Name has @totalMessage messages</p>
	}
} else {
	<p>@User.Email has no messages</p>
}

</body>
</html>
