@{
import (
	"kp/models"
)
	var totalMessage int
	var u *kpm.User
}
<html>
<body>

@{
	msg := u.Name + "(" + u.Email + ")"
}


<h4>@msg</h4>

@if totalMessage > 0 {
	@if totalMessage == 1 {
		<p>@u.Name has 1 message</p>
	} else {
		<p>@u.Name has @gorazor.Itoa(totalMessage) messages</p>
	}
} else {
	<p>@u.Name has no messages</p>
}

</body>
</html>
