@{
	import (
		. "kp/models"
	)
	var u *User
}


@{
	getName := func (u *User) string {
		return "(" + u.Name + ")" 
	}

	var username string
	if u.Email != "" {
		username = getName(u) + "(" + u.Email + ")"
	}
}
<div class="welcome">
<h4>Hello @username</h4>

<div>@raw(u.Intro)</div>
</div>
