@{
	import (
		"zfw/models"
		. "zfw/tplhelper"
		"dm"
	)
	var obj *models.Widget
}

@{
        @if 1 == 2 {
	} else {
		values := []int{}
			@for _, v := range values {
			@if v, ok := v.(type); ok {
				<a>
					@for _, v := range values {
				        }
				</a>
			}  else {

		        }
		}
	}
}
