@{
	var count int
}
<html>
<body>
<textarea rows="4" cols="50">
        At w3schools.com @count you will learn how to make a website.
  We offer free tutorials in all web development technologies.
</textarea>

<textarea>
  At w3schools.com @count you will learn
  how to make a website.
  We offer free tutorials in all web development technologies.
</textarea>
</body>
</html>