@{
	var body string
	var title string
	var side string
}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
@title
</head>
<body>
<div style="width: 960px">
	<div style="float: left; width: 460px">@body</div>
	<div style="float: right; width: 200px">@side</div>
</div>
</body>
</html>