@{
import (
	. "kp/models"
	"tpl/helper"
)
	var totalMessage int
	var u *User
}

@helper.Header()
@helper.Msg(u)

@for i := 0; i < 2; i++ {
	@if totalMessage > 0 {
		@if totalMessage == 1 {
			<p>@u.Name has 1 message</p>
		} else {
			<p>@u.Name has @gorazor.Itoa(totalMessage) messages</p>
		}
	} else {
		<p>@u.Name has no messages</p>
	}
}

@helper.Footer()